<div class="row">
    <div class="col-md-12 pl-md-0 pr-md-0">
        <div class="card card-user">
            <div class="card-body pb-4">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">{{'Agreement Type' | translate}}</label>

                            <ng-select aria-label="Default select example" (change)="onDropDownChange($event)">
                                <ng-option *ngFor="let car of AgreementTypeListVlaues"
                                    [value]="car.fieldValue">{{car.fieldName}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-8 text-right">
                        <div class="btn-design">
                            <button (click)="exportData()" class="btn btn-outline-info export-btns" title="Export to Excel"></button>
                            <button *ngIf="AllowedPermissions['canCreate']" (click)="openAdd()" class="btn btn-success add-new-icon-only" title="{{'Add New' | translate}}"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div *ngIf="AllowedPermissions['canCreate']">

                </div>
                <div *ngIf="AllowedPermissions['canView']" class="dataTableDesign">
                    <div class="table-responsive">
                        <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{'Doc Num' | translate}}</th>
                                    <!-- <th>{{'Ref. N' | translate}}</th> -->
                                    <th>{{'BP Code' | translate}}</th>
                                    <th>{{'BP Name' | translate}}</th>
                                    <th>{{'Contact Person' | translate}}</th>
                                    <!-- <th>{{'Doc Date' | translate}}</th> -->
                                    <th>{{'Agreement No' | translate}}</th>
                                    <th>{{'Agreement Type' | translate}}</th>
                                    <th>{{'Posting Date' | translate}}</th>
                                    <th>{{'Created Date' | translate}}</th>
                                    <!-- <th>{{'Status' | translate}}</th> -->
                                    <th>{{'Action' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of PerformaList; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{ item.u_DocNum }}</td>
                                    <!-- <td>{{ item.u_CustRefNo }}</td> -->
                                    <td>{{ item.u_BPCode }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.u_CPName }}</td>

                                    <td>{{ item.u_AGID }}</td>
                                    <td>{{ item.u_AGType }}</td>
                                    <td>{{ item.u_PDate | date:GenericForma.DateFormate }}</td>
                                    <td>{{ item.createdDate | date:GenericForma.DateFormate }}</td>
                                    <!-- <td>{{ item.u_AGStatus }}</td> -->
                                    <!-- <td>
                                        <span class="badge" [ngClass]="{
                                                            'bg-success': item.u_Stauts == 'Open',
                                                            'bg-secondary': item.u_Stauts == 'Close',
                                                            'bg-danger': item.u_Stauts =='Canceled'
                                                            }">
                                            {{ item.u_Stauts }}
                                        </span>
                                    </td> -->

                                    <td class="action-btn">
                                        <span class="" (click)=" GetUnitDeliveryList(item.id)">
                                            <i class="fa fa-eye"></i>
                                        </span>
                                        <span (click)=" Update(item.id)"><i class="fa fa-edit"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal to embed UnitDeliveryNewComponent -->
        <div class="modal fade" tabindex="-1" role="dialog" [class.show]="showModal" [style.display]="showModal ? 'block' : 'none'">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{'New Unit Delivery' | translate}}</h5>
                        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-0">
                        <app-unit-delivery-new (saved)="closeModal()"></app-unit-delivery-new>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{'Unit Delivery Detail' | translate}}</h5>
                        <button type="button" class="close" data-dismiss="modal" data-bs-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row py-2 border-bottom border-dashed">
                            <div class="col-md-4 mb-2">
                                <div class="fw-semibold text-dark">{{'Doc Num' | translate}}</div>
                                <div class="text-secondary small">{{ SelectedAgreement.u_DocNum }}</div>
                            </div>

                            <div class="col-md-4 mb-2">
                                <div class="fw-semibold text-dark">{{'BP Code' | translate}}</div>
                                <div class="text-secondary small">{{ SelectedAgreement.u_BPCode }}</div>
                            </div>

                            <div class="col-md-4 mb-2">
                                <div class="fw-semibold text-dark">{{'BP Name' | translate}}</div>
                                <div class="text-secondary small">{{ SelectedAgreement.name }}</div>
                            </div>

                            <div class="col-md-4 mb-2">
                                <div class="fw-semibold text-dark">{{'Contact Person' | translate}}</div>
                                <div class="text-secondary small">{{ SelectedAgreement.u_CPName }}</div>
                            </div>

                            <div class="col-md-4 mb-2">
                                <div class="fw-semibold text-dark">{{'Agreement No' | translate}}</div>
                                <div class="text-secondary small">{{ SelectedAgreement.u_AGID }}</div>
                            </div>

                            <div class="col-md-4 mb-2">
                                <div class="fw-semibold text-dark">{{'Agreement Type' | translate}}</div>
                                <div class="text-secondary small">{{ SelectedAgreement.u_AGType }}</div>
                            </div>

                            <div class="col-md-4 mb-2">
                                <div class="fw-semibold text-dark">{{'Posting Date' | translate}}</div>
                                <div class="text-secondary small">
                                    {{ SelectedAgreement.u_PDate | date:GenericForma.DateFormate }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <nav class="customTab">
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" (click)="switchTab('UnitDetail','header')"
                                            [class.active]="activeTab === 'UnitDetail'">{{'Unit Detail' | translate}}</a>
                                        <a class="nav-item nav-link active" (click)="switchTab('Attachments','header')"
                                            [class.active]="activeTab === 'Attachments'">{{'Attachments' | translate}}</a>
                                    </div>
                                </nav>

                                <div class="tab-content" id="nav-tabContent">

                                    <div class="tab-pane fade show active" [hidden]="activeTab !== 'UnitDetail'">
                                        <div class="sectionHeading mt-4">
                                            <h6>Unit Detail</h6>
                                        </div>
                                        <!-- Dynamic accordion for each lineItem -->
                                        <div class="accordion adv-acc-design" id="DetailList">
                                            <div class="accordion-item"
                                                *ngFor="let item of SelectedAgreement.lineItems; let i = index">
                                                <h2 class="accordion-header" [id]="'heading' + i">
                                                    <button class="accordion-button" type="button"
                                                        data-bs-toggle="collapse"
                                                        [attr.data-bs-target]="'#unitDetailList' + i"
                                                        [attr.aria-controls]="'unitDetailList' + i"
                                                        [attr.aria-expanded]="i === 0 ? 'true' : 'false'">
                                                        {{ item.projectName }} - {{ item.u_UnitCode }}
                                                    </button>
                                                </h2>

                                                <div [id]="'unitDetailList' + i" class="accordion-collapse collapse"
                                                    [ngClass]="{ show: i === 0 }" [attr.aria-labelledby]="'heading' + i"
                                                    data-bs-parent="#DetailList">

                                                    <div class="accordion-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-md-3 mb-2">
                                                                        <div class="fw-semibold text-dark">{{'Project' | translate}}</div>
                                                                        <div class="text-secondary small">{{
                                                                            item.projectName }}</div>
                                                                    </div>
                                                                    <div class="col-md-3 mb-2">
                                                                        <div class="fw-semibold text-dark">{{'Building' | translate}}
                                                                        </div>
                                                                        <div class="text-secondary small">{{
                                                                            item.buildingName }}</div>
                                                                    </div>
                                                                    <div class="col-md-3 mb-2">
                                                                        <div class="fw-semibold text-dark">{{'Zone' | translate}}</div>
                                                                        <div class="text-secondary small">{{
                                                                            item.zoneName }}</div>
                                                                    </div>
                                                                    <div class="col-md-3 mb-2">
                                                                        <div class="fw-semibold text-dark">{{'Sub Zone' | translate}}
                                                                        </div>
                                                                        <div class="text-secondary small">{{
                                                                            item.subZoneName }}</div>
                                                                    </div>

                                                                    <div class="col-md-3 mb-2">
                                                                        <div class="fw-semibold text-dark">{{'Unit Size (SQM)' | translate}}
                                                                            </div>
                                                                        <div class="text-secondary small">{{
                                                                            item.u_UnitSize }}</div>
                                                                    </div>
                                                                    <div class="col-md-3 mb-2">
                                                                        <div class="fw-semibold text-dark">{{'Rate per SQM' | translate}}
                                                                        </div>
                                                                        <div class="text-secondary small">{{
                                                                            item.u_PerSQMRate | number
                                                                            }}</div>
                                                                    </div>
                                                                    <div class="col-md-3 mb-2">
                                                                        <div class="fw-semibold text-dark">{{'Total' | translate}}</div>
                                                                        <div class="text-secondary small">{{
                                                                            item.u_Total | number }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 mb-2">
                                                                        <div class="fw-semibold text-dark">{{'Discount (%)' | translate}}
                                                                        </div>
                                                                        <div class="text-secondary small">{{
                                                                            item.u_DiscPrc | number }}
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-3 mb-2">
                                                                        <div class="fw-semibold text-dark">{{'Discount Amount' | translate}}</div>
                                                                        <div class="text-secondary small">{{
                                                                            item.u_DiscAmt | number }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 mb-2">
                                                                        <div class="fw-semibold text-dark">{{'Total After Discount' | translate}}</div>
                                                                        <div class="text-secondary small">{{
                                                                            item.u_TotAfterDisc |
                                                                            number }}</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="sectionHeading mt-3">
                                                            <h6>{{'Check List' | translate}}</h6>
                                                        </div>

                                                        <div class="dataTableDesign fixed-height-wrapper">
                                                            <table class="table table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>{{'Active' | translate}}</th>
                                                                        <th>{{'Check List' | translate}}</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let chk of item.checklist">
                                                                        <td>
                                                                            <input type="checkbox"
                                                                                [checked]="chk.flag === 'Y'" disabled>
                                                                        </td>
                                                                        <td>{{ chk.name }}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade show active" [hidden]="activeTab !== 'Attachments'">

                                        <!-- Attachment table start -->
                                        <div class="table-responsive fixed-height-wrapper dataTableDesign mt-4">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>{{'Attachment Type' | translate}}</th>
                                                        <th>{{'Description' | translate}}</th>
                                                        <th>{{'File' | translate}}</th>
                                                        <!-- <th>Action</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let p of SelectedAgreement.attachments">
                                                        <td>{{p.attachmentType }}</td>
                                                        <td>{{p.description }}</td>
                                                        <td>
                                                            <span>
                                                                <a *ngIf="p.FileURL2.length <= 500" [href]="p.FileURL2"
                                                                    target="_blank"><i class="fa fa-eye"></i></a>
                                                            </span>
                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>

                                        </div>
                                        <!-- Attachment table end -->
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>