<div class="card card-user">
  <div class="card-body">

    <!-- <div class="sectionHeading">
      <h6 class="mb-4">{{'Document Approval Template'|translate}}</h6>
    </div> -->
    <!-- Add Template button opens modal (if allowed) -->
    <div class="row mb-3">
      <div class="col-md-12">
        <div *ngIf="AllowedPermissions['canCreate']" class="mb-2 title-add-new-btn">
          <div class="sectionHeading">
      <h6 class="mb-4">{{'Template Listing'|translate}}</h6>
    </div>
          <button class="btn btn-primary" type="button" (click)="openAdd()"><i class="fa fa-plus"></i> {{'Add New Template'|translate}}</button>
        </div>
      </div>
    </div>

    <!-- Modal: Add/Edit Template -->
    <div *ngIf="AllowedPermissions['canCreate']">
      <div class="modal fade" tabindex="-1" role="dialog" [class.show]="showModal" [style.display]="showModal ? 'block' : 'none'">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ isUpdate ? ('Edit Template'|translate) : ('New Template'|translate) }}</h5>
              <button type="button" class="close" aria-label="Close" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="table-responsive dataTableDesign tbl-input-select fixed-height-wrapper">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>{{'Document Type'|translate}}</th>
                      <th>{{'Document Sub Type'|translate}}</th>
                      <th>{{'Stage'|translate}}</th>
                      <th>{{'Level'|translate}}</th>
                      <th>{{'Active'|translate}}</th>
                      <th>{{'Action'|translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <input type="hidden" [(ngModel)]="md_id" />
                      <td>
                        <ng-select [(ngModel)]="md_DocumentType">
                          <ng-option *ngFor="let emp of DocumentType" [value]="emp.value">{{emp.name}}</ng-option>
                        </ng-select>
                      </td>
                      <td>
                        <ng-select [(ngModel)]="md_DocumentSubType">
                          <ng-option *ngFor="let emp of DocumentSubType" [value]="emp.value">{{emp.name}}</ng-option>
                        </ng-select>
                      </td>
                      <td>
                        <ng-select [(ngModel)]="md_stageId">
                          <ng-option *ngFor="let emp of StageMasterList" [value]="emp.id">{{emp.stageName}}</ng-option>
                        </ng-select>
                      </td>
                      <td>
                        <ng-select [(ngModel)]="md_level">
                          <ng-option *ngFor="let emp of LevelsList" [value]="emp.value">{{emp.name}}</ng-option>
                        </ng-select>
                      </td>
                      <td>
                        <input class="form-check-input" type="checkbox" [(ngModel)]="md_activeCheckBox" id="modalActiveCheckbox" />
                      </td>
                      <td class="action-btn">
                        <span class="" (click)="addTemplate()"><i class="fa fa-plus"></i></span>
                      </td>
                    </tr>
                    <tr *ngFor="let stage of TemplateDeatilList; let i = index">
                      <td>{{ stage.docType }}</td>
                      <td>{{ stage.subType }}</td>
                      <td>{{ getStageName(stage.stageId) }}</td>
                      <td>{{ stage.level }}</td>
                      <td>
                        <span [ngClass]="stage.flgActive ? 'badge bg-success' : 'badge bg-danger'">{{ stage.flgActive ? 'Active' : 'Inactive' }}</span>
                      </td>
                      <td class="action-btn">
                        <span (click)="editTemplate(stage, i)"><i class="fa fa-edit"></i></span>
                        <span (click)="removeTemplate(i)"><i class="fa fa-trash"></i></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal-footer btn-design">
              <button class="btn btn-success" type="button" (click)="onSubmit()">{{'Save'|translate}}</button>
              <button class="btn btn-secondary" type="button" (click)="clearForm()">{{'Clear'|translate}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-backdrop fade" [class.show]="showModal" *ngIf="showModal"></div>
    </div>

    
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive dataTableDesign">
          <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>#</th>
                <th>{{'Document Type'|translate}}</th>
              <th>{{'Document Sub Type'|translate}}</th>
              <th>{{'Stage'|translate}}</th>
              <th>{{'Level'|translate}}</th>
              <th>{{'Active'|translate}}</th>
              <th>{{'Action'|translate}}</th>
              </tr>
            </thead>
            <tbody>
              
              <tr *ngFor="let stage of TemplateListing; let i = index">
                 <td>{{i+1}}</td>
                <td>{{ stage.docType }}</td>
                <td>{{ stage.subType }}</td>
                <td>{{ getStageName(stage.stageId) }}</td>
                <td>{{ stage.level }}</td>
                <td>
                  <span [ngClass]="stage.flgActive ? 'badge bg-success' : 'badge bg-danger'">
                    {{ stage.flgActive ? 'Active' : 'Inactive' }}
                  </span>
                </td>
                <td class="action-btn">
                  <span (click)="editTemplate(stage, i)"><i class="fa fa-edit"></i></span>
                  <!-- <span (click)="removeTemplate(i)"><i class="fa fa-trash"></i></span> -->
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
  
    </div>
  </div>
</div>