<!--sidebar-->
<c-sidebar
  #sidebar="cSidebar"
  class="d-print-none sidebar sidebar-fixed customSidebar"
  id="sidebar"
  visible
>
<div class="menuHeader">
 <!-- <img src="../../../assets/images/abc-logo.png"> -->
</div>

  <ng-scrollbar pointerEventsMethod="scrollbar">
    <c-sidebar-nav 
      class="sidebarArrow"
      [navItems]="navItems"
      dropdownMode="close"
    />
  </ng-scrollbar>
  <c-sidebar-toggler
    *ngIf="!sidebar.narrow"
    toggle="unfoldable"
    cSidebarToggle="sidebar"
  />
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <!--app-header-->
  <app-default-header class="mb-4 d-print-none header header-sticky" position="sticky" sidebarId="sidebar" />
  <!--app-body-->
  <div class="body flex-grow-1 px-4 custom-padding">
    <!-- <c-container breakpoint="lg" class="h-auto"> -->
      <router-outlet />
      
      <div *ngIf="processing" class="loader-box">
        <div class="loader"></div>
        <div class="textt">LOADING...</div>
      </div>
    <!-- </c-container> -->
  </div>
  <!--app footer-->
  <app-default-footer />
</div>
