<div class="row">
    <div class="col-md-12 pl-md-0 pr-md-0">
        <div class="">
            <div class="">
                <div *ngIf="AllowedPermissions['canCreate']">
                    <!-- <h4 class="sectionHeading">New Role:</h4> -->
                    <div class="sectionHeading">
                        <h6 class="fw-bold text-primary mt-2">{{'Proforma Invoice' | translate}}</h6>
                    </div>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <input type="hidden" formControlName="Id" />

                        <div class="row">
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">{{'Agreement Type' | translate}}</label>
                                    <ng-select aria-label="Default select example" formControlName="AgreementType"
                                        [ngClass]="{ 'is-invalid': (submitted || f['AgreementType'].touched) && f['AgreementType'].invalid }"
                                        (change)="onDropDownChange($event,'AgreementType')">
                                        <ng-option *ngFor="let car of AgreementTypeListVlaues"
                                            [value]="car.fieldValue">{{car.fieldName}}</ng-option>
                                    </ng-select>
                                    <app-validation-message [control]="f['AgreementType']" label="Agreement Type"
                                        [submitted]="submitted"></app-validation-message>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">{{'Series' | translate}}</label>

                                    <ng-select aria-label="Default select example" name="title" formControlName="U_Seri"
                                        (change)="onDropdownChange($event,'Series')"
                                        [ngClass]="{ 'is-invalid': (submitted || f['U_Seri'].touched) && f['U_Seri'].invalid }">
                                        <ng-option *ngFor="let car of SeriesList"
                                            [value]="car.id">{{car.u_SName}}</ng-option>
                                    </ng-select>

                                    <app-validation-message [control]="f['U_Seri']" label="Series"
                                        [submitted]="submitted"></app-validation-message>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">{{'Agreement' | translate}}</label>
                                    <ng-select aria-label="Default select example" formControlName="U_AGID"
                                        placeholder="Select Agreement" (change)="onDropdownChange($event,'Agreements')">
                                        <ng-option *ngFor="let car of AgreementList"
                                            [value]="car.id">{{car.u_DocNum+"-"+car.u_BPCode+"-"+car.name}}</ng-option>
                                    </ng-select>
                                    <app-validation-message [control]="f['U_AGID']" label="Agreement"
                                        [submitted]="submitted"></app-validation-message>
                                </div>
                            </div>
                            <!-- U_Seri -->

                            <!-- U_Seri -->
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">{{'Doc Num' | translate}}</label>
                                    <input type="text" class="form-control" formControlName="U_DocNum" 
                                        readonly
                                        [ngClass]="{ 'is-invalid': (submitted || f['U_DocNum'].touched) && f['U_DocNum'].invalid }" />
                                    <app-validation-message [control]="f['U_DocNum']" label="Series"
                                        [submitted]="submitted"></app-validation-message>
                                </div>
                            </div>
                            <!-- U_AGID -->


                            <!-- U_BPCode -->
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">{{'BP Code' | translate}}</label>
                                    <input type="text" class="form-control" formControlName="U_BPCode" 
                                        readonly
                                        [ngClass]="{ 'is-invalid': (submitted || f['U_BPCode'].touched) && f['U_BPCode'].invalid }" />
                                    <app-validation-message [control]="f['U_BPCode']" label="BP Code"
                                        [submitted]="submitted"></app-validation-message>
                                </div>
                            </div>
                            <!-- U_BPName -->
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">{{'BP Name' | translate}}</label>
                                    <input type="text" class="form-control" formControlName="U_BPName"
                                        readonly
                                        [ngClass]="{ 'is-invalid': (submitted || f['U_BPName'].touched) && f['U_BPName'].invalid }" />
                                    <app-validation-message [control]="f['U_BPName']" label="BP Code"
                                        [submitted]="submitted"></app-validation-message>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">{{'Contact Person' | translate}}</label>
                                    <input type="text" class="form-control" formControlName="U_CPName"
                                        readonly
                                        [ngClass]="{ 'is-invalid': (submitted || f['U_CPName'].touched) && f['U_CPName'].invalid }" />
                                    <app-validation-message [control]="f['U_CPName']" label="Contact Person Name"
                                        [submitted]="submitted"></app-validation-message>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">{{'Ejar ID' | translate}}</label>
                                    <input type="text" class="form-control" formControlName="U_CustRefNo"
                                        readonly
                                        [ngClass]="{ 'is-invalid': (submitted || f['U_CustRefNo'].touched) && f['U_CustRefNo'].invalid }" />
                                    <app-validation-message [control]="f['U_CustRefNo']" label="Contact Person Name"
                                        [submitted]="submitted"></app-validation-message>
                                </div>
                            </div>
                            <!-- U_Stauts -->
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">{{'Status' | translate}}</label>
                                    <input type="text" class="form-control" formControlName="StatusName" readonly />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="U_DocDate" class="form-label">{{'Doc Date' | translate}}</label>
                                <input type="text" id="U_DocDate" class="form-control form-control-sm"
                                    formControlName="U_DocDate" placeholder="dd-mm-yyyy" bsDatepicker
                                    [bsConfig]="datePickerConfig" [bsValue]="bsInlineValue"
                                    [ngClass]="{ 'is-invalid': submitted && f['U_DocDate'].errors }" />
                                <app-validation-message [control]="f['U_DocDate']" label="Doc Date"
                                    [submitted]="submitted"></app-validation-message>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <nav class="customTab">
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" (click)="switchTab('UnitDetail','header')"
                                            [class.active]="activeTab === 'UnitDetail'">{{'Unit Detail' | translate}}</a>
                                        <a class="nav-item nav-link active"
                                            (click)="switchTab('InstallmentPlan','header')"
                                            [class.active]="activeTab === 'InstallmentPlan'">{{'Invoice Details' | translate}}</a>
                                        <a class="nav-item nav-link active" (click)="switchTab('Attachments','header')"
                                            [class.active]="activeTab === 'Attachments'">{{'Attachments' | translate}}</a>
                                    </div>
                                </nav>

                                <div class="tab-content custom-height" id="nav-tabContent">

                                    <!-- General Data Tab -->
                                    <div class="tab-pane fade show active" [hidden]="activeTab !== 'UnitDetail'">
                                        <div class="row mt-4">
                                            <div class="col-md-12">
                                                <div class="table-responsive fixed-height-wrapper dataTableDesign">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>{{'Unit Code' | translate}}</th>
                                                                <th>{{'Project' | translate}}</th>
                                                                <th>{{'Building' | translate}}</th>
                                                                <th>{{'Zone' | translate}}</th>
                                                                <th>{{'Sub Zone' | translate}}</th>
                                                                <th>{{'Unit Size (SQM)' | translate}}</th>
                                                                <th>{{'Rate per SQM' | translate}}</th>
                                                                <th>{{'Total' | translate}}</th>
                                                                <th>{{'Discount (%)' | translate}}</th>
                                                                <th>{{'Discount Amount' | translate}}</th>
                                                                <th>{{'Total After Discount' | translate}}</th>
                                                                <th>{{'Tax (%)' | translate}}</th>
                                                                <th>{{'Tax Amount' | translate}}</th>
                                                                <th>{{'Total After Tax' | translate}}</th>


                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr
                                                                *ngFor="let u of SelectedAgreement.agreementItems; let i = index">
                                                                 <td>{{i+1}}</td>
                                                                <td>{{ u.u_UnitCode }}</td>
                                                                <td>{{ u.projectName }}</td>
                                                                <td>{{ u.buildingName }}</td>
                                                                <td>{{ u.zoneName }}</td>
                                                                <td>{{ u.subZoneName }}</td>
                                                                <td>{{ u.u_UnitSize }}</td>
                                                                <td>{{ u.u_PerSQMRate | number}}</td>
                                                                <td>{{ u.u_Total | number}}</td>
                                                                <td>{{ u.u_DiscPrc | number}}</td>
                                                                <td>{{ u.u_DiscAmt | number}}</td>
                                                                <td>{{ u.u_TotAfterDisc | number}}</td>
                                                                <td>{{ u.u_TaxPrc | number}}</td>
                                                                <td>{{ u.u_TaxAmt | number}}</td>
                                                                <td>{{ u.u_TotAfterTax | number}}</td>
                                                                <!-- <td>{{ u.createdDate | date:GenericForma.DateFormate }}</td> -->

                                                            </tr>
                                                        </tbody>

                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active" [hidden]="activeTab !== 'InstallmentPlan'">
                                        <div class="row mt-4">
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">{{'Installment' | translate}}</label>
                                                    <ng-select aria-label="Default select example"
                                                        (change)="onDropdownChange($event,'Installments')"
                                                        formControlName="U_InstID" placeholder="Select Installment">
                                                        <ng-option
                                                            *ngFor="let car of SelectedAgreement.agreementInstallments"
                                                            [value]="car.id">{{car.name}}</ng-option>
                                                    </ng-select>
                                                    <app-validation-message [control]="f['U_InstID']"
                                                        label="Installment"
                                                        [submitted]="submitted"></app-validation-message>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">{{'Installment %' | translate}}</label>
                                                    <input type="text" class="form-control" formControlName="inst_Perc"
                                                         readonly
                                                        [ngClass]="{ 'is-invalid': (submitted || f['inst_Perc'].touched) && f['inst_Perc'].invalid }" />
                                                    <app-validation-message [control]="f['inst_Perc']" label="Inst %"
                                                        [submitted]="submitted"></app-validation-message>
                                                </div>
                                            </div>



                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">{{'Date' | translate}}</label>
                                                    <input type="text" class="form-control" formControlName="inst_Date"
                                                         readonly
                                                        [ngClass]="{ 'is-invalid': (submitted || f['inst_Date'].touched) && f['inst_Date'].invalid }" />
                                                    <app-validation-message [control]="f['inst_Date']" label="Inst Date"
                                                        [submitted]="submitted"></app-validation-message>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">{{'Amount Before Tax' | translate}}</label>
                                                    <input type="text" class="form-control" appCommaSeparated
                                                        formControlName="inst_AmountBeforeTax" readonly
                                                        [ngClass]="{ 'is-invalid': (submitted || f['inst_AmountBeforeTax'].touched) && f['inst_AmountBeforeTax'].invalid }" />
                                                    <app-validation-message [control]="f['inst_AmountBeforeTax']"
                                                        label="Amount Before Tax"
                                                        [submitted]="submitted"></app-validation-message>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">{{'Utility Amount' | translate}}</label>
                                                    <input type="text" class="form-control" readonly
                                                        formControlName="inst_UtilAmt"
                                                        [ngClass]="{ 'is-invalid': (submitted || f['inst_UtilAmt'].touched) && f['inst_UtilAmt'].invalid }" />
                                                    <app-validation-message [control]="f['inst_UtilAmt']"
                                                        label="inst_UtilAmt"
                                                        [submitted]="submitted"></app-validation-message>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">{{'Tax' | translate}}</label>
                                                    <input type="text" class="form-control" formControlName="inst_Tax"
                                                        appCommaSeparated  readonly
                                                        [ngClass]="{ 'is-invalid': (submitted || f['inst_Tax'].touched) && f['inst_Tax'].invalid }" />
                                                    <app-validation-message [control]="f['inst_Tax']" label="Tax"
                                                        [submitted]="submitted"></app-validation-message>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">{{'Amount After Tax' | translate}}</label>
                                                    <input type="text" class="form-control" readonly
                                                        formControlName="inst_AmountAfterTax"
                                                        appCommaSeparated
                                                        [ngClass]="{ 'is-invalid': (submitted || f['inst_AmountAfterTax'].touched) && f['inst_AmountAfterTax'].invalid }" />
                                                    <app-validation-message [control]="f['inst_AmountAfterTax']"
                                                        label="Amount After Tax"
                                                        [submitted]="submitted"></app-validation-message>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">{{'Amount Received' | translate}}</label>
                                                    <input type="text" class="form-control" readonly
                                                        formControlName="inst_AmountReceived" 
                                                        appCommaSeparated
                                                        [ngClass]="{ 'is-invalid': (submitted || f['inst_AmountReceived'].touched) && f['inst_AmountReceived'].invalid }" />
                                                    <app-validation-message [control]="f['inst_AmountReceived']"
                                                        label="Amount Received"
                                                        [submitted]="submitted"></app-validation-message>
                                                </div>
                                            </div>
                                            <!-- <div class="col-12 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">A/R Down Payment</label>
                                                    <input type="text" class="form-control" formControlName="inst_ARDP"
                                                        maxlength="100" readonly
                                                        [ngClass]="{ 'is-invalid': (submitted || f['inst_ARDP'].touched) && f['inst_ARDP'].invalid }" />
                                                    <app-validation-message [control]="f['inst_ARDP']" label="Inst ARDP"
                                                        [submitted]="submitted"></app-validation-message>
                                                </div>
                                            </div> -->





                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active" [hidden]="activeTab !== 'Attachments'">
                                        <div class="row mt-4">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="Address" class="form-label">{{'Attachment Type' | translate}}<span
                                                            class="colorRed">*</span></label>
                                                    <ng-select aria-label="Default select example"
                                                        [(ngModel)]="AttachmentType"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <ng-option *ngFor="let car of AttachmentTypeListValues"
                                                            [value]="car.fieldValue">{{car.fieldName}}</ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="Description" class="form-label">{{'Description' | translate}} <span
                                                            class="colorRed">*</span></label>
                                                    <input type="text" class="form-control" id="Description"
                                                        [ngModelOptions]="{standalone: true}"
                                                        [(ngModel)]="Att_Description" required="">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <span style="display: block;" class="form-label">{{'File' | translate}}<span
                                                            class="colorRed">*</span></span>
                                                    <div class="mb-3 chosaeFilebtn">
                                                        <label class="form-label">
                                                            <a><i class="fa fa-file-image"></i> {{'Choose File' | translate}}</a>
                                                            <input class="" type="file" [(ngModel)]="FileURL"
                                                                [ngModelOptions]="{standalone: true}" #fileInput
                                                                (change)="onFileChange($event,fileInput)">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class=" mt-4 text-right btn-design">
                                                    <button type="button" class="btn btn-success"
                                                        (click)="AddRemoveAttachments('add','')"><i
                                                            class=""></i>{{'Add' | translate}}</button>
                                                </div>
                                            </div>

                                        </div>
                                     

                                        <!-- Attachment table start -->
                                        <div class="table-responsive dataTableDesign fixed-height-wrapper mt-4">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>{{'Attachment Type' | translate}}</th>
                                                        <th>{{'Description' | translate}}</th>
                                                        <th>{{'File' | translate}}</th>
                                                        <th>{{'Action' | translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let p of AttachmentsList">
                                                        <td>{{p.u_UniqueName}}</td>
                                                        <td>{{p.name}}</td>
                                                        <td>
                                                            <span>
                                                                <a *ngIf="p.FileURL2.length <= 500" [href]="p.FileURL2"
                                                                    target="_blank"><i class="fa fa-eye"></i></a>
                                                                <img *ngIf="p.FileURL2.length > 500" [src]="p.FileURL2"
                                                                    style="height: 30px;">
                                                            </span>
                                                        </td>
                                                        <td class="action-btn">
                                                            
                                                                <span><i class="fa fa-trash"
                                                                        (click)="AddRemoveAttachments('remove',p)"></i></span>
                                                            
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>

                                        </div>
                                        <!-- Attachment table end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                            <!-- Form Actions -->
                            <div class="d-flex justify-content-end mt-4 gap-2">
                                <div class="btn-group btn-design">
                                    <button class="btn btn-success" type="submit">
                                        <i class="fa fa-save"></i><span> {{'Save' | translate}}</span>
                                    </button>
                                    <button class="btn btn-danger" type="button" (click)="clearForm()">
                                        <i class="fa fa-times"></i><span> {{'Cancel' | translate}}</span>
                                    </button>
                                </div>
                            </div>
                     
                    </form>


                    <!-- <h4 class="sectionHeading">Roles Listing:</h4> -->
                </div>

                <div *ngIf="AllowedPermissions['canView']">

                </div>


            </div>
        </div>
    </div>
</div>