<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <button toggle="visible" cHeaderToggler [cSidebarToggle]="sidebarId" class="ps-1">
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>

    <c-header-nav class=" d-lg-flex me-auto header-nav" _nghost-ng-c1721759406="" role="navigation">
      <c-nav-item _nghost-ng-c3971377937="" class="nav-item">
        <!-- <a cnavlink="" routerlink="/dashboard" routerlinkactive="active" href="#/dashboard" class="nav-link active" style="cursor: pointer;"> Welcome, Naveed Rasheed </a>
    <p>Today is Thursday, 28th August 2025.</p> -->
        <a cNavLink routerLink="/dashboard" routerLinkActive="active">
          Welcome, {{UserFullName}}
        </a>
        <div class="header-inline-data">
          <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
          <p>{{CUrrentDate}}</p>

        </div>

      </c-nav-item>
    </c-header-nav>
    <c-header-nav class="d-lg-flex align-items-center">

      <div class="d-flex justify-content-end align-items-center lng-btn">

        <div class="langDropdown d-flex align-items-center">

          <span class="fi fi-gb"></span>
          <span [ngClass]="{
      'fi fi-gb': currentLang === 'en',
      'fi fi-sa': currentLang === 'ar'
    }"></span>

          <select class="form-select border-0 w-auto custom-select" [(ngModel)]="currentLang"
            (change)="switchLang(currentLang)">
            <option value="en">English</option>
            <option value="ar">Arabic</option>
          </select>
        </div>


        <!-- <div class="dropdown langDropdown">
  <button class="btn btn-outline-secondary dropdown-toggle d-flex align-items-center" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="fi fi-gb me-2"></span> English
  </button>
  <ul class="dropdown-menu" aria-labelledby="languageDropdown">
    <li>
      <a class="dropdown-item d-flex align-items-center" href="#" (click)="switchLang('en')">
        <span class="fi fi-gb me-2"></span> English
      </a>
    </li>
    <li>
      <a class="dropdown-item d-flex align-items-center" href="#" (click)="switchLang('ar')">
        <span class="fi fi-sa me-2"></span> Arabic
      </a>
    </li>
  </ul>
</div> -->


      </div>
      <c-nav-item>
        <a routerLink="/approvals/pending-documents" cNavLink class="bellIcon">
          <!-- <i class="fa fa-bell"></i> -->
          <i class="fa-regular fa-bell"></i>
          <!-- <svg cIcon name="cilBell" size="lg"></svg> -->
          <!-- <img src="../../../../assets/images/bell-icon.png"> -->
          <span class="countSe">{{PendingDocumentList ?? 0}}</span>
        </a>
      </c-nav-item>

      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
      <!-- <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilList" size="lg"></svg>
        </a>
      </c-nav-item> -->
      <!-- <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilEnvelopeOpen" size="lg"></svg>
        </a>
      </c-nav-item> -->
      <div class="nameRole">
        <h4 class="userName">{{UserFullName}}.</h4>
        <p>{{UserType}}</p>
      </div>
    </c-header-nav>
    <!-- <c-header-nav>
      <div class="nameRole">
        <h4 class="userName">Naveed Rasheed.</h4>
        <p>Supper User</p>
      </div>
 
    </c-header-nav> -->
    <!-- <c-header-nav class="ms-3">
      
    </c-header-nav> -->

  </c-container>
  <!-- <c-header-divider style="margin: 0 -8px;"></c-header-divider>
  <c-container [fluid]="true">
   
  </c-container> -->
</ng-container>
<!--</c-header>-->



<ng-template #userDropdown>

  <c-dropdown alignment="end" variant="nav-item" class="u-spacing">
    <!-- <button cButton color="" [caret]="false" cDropdownToggle class="py-0">
      <c-avatar cTextColor="primary" shape="rounded-1" size="md" src="./assets/img/avatars/dummy3.png" status="success">
      </c-avatar>
    </button> -->
    <!-- <button cButton color="" [caret]="false" cDropdownToggle class="py-0">
      <c-avatar cTextColor="primary" shape="rounded-1" size="md" [src]="UserImage || './assets/img/avatars/1.jpg'"
        status="success">
      </c-avatar>
    </button> -->

    <button cButton color="" [caret]="false" cDropdownToggle class="py-0 avatar-button-custom">

      <c-avatar *ngIf="UserImage" shape="rounded-1" size="md" [src]="UserImage" status="success">
      </c-avatar>

      <div *ngIf="!UserImage" class="avatar-initials">
        {{ getUserInitials(UserFullName) }}
      </div>

    </button>

    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li (click)="LogOut()" class="clickable">
        <a cDropdownItem>
          <svg cIcon class="me-2" name="cilLockLocked"></svg>
          Logout
        </a>
      </li>
      <li></li>
    </ul>
  </c-dropdown>


</ng-template>